@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body {
    background-color: #FBFBFD;
    margin: 0;
    padding: 0;
}

.column {
    display: flex;
    justify-content: space-between;
    padding: 66px 140px 0px 140px;
}

.column-left {
    width: 50%;
}

.get-in-touch {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    color: #2F2F2F;
}

.paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: -25px;
    line-height: 40px;
    color: #2F2F2F;
}

.find-Us-At {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #2F2F2F;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons a {
    padding-bottom: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #2F2F2F;
}

.icons span {
    margin-right: 38px;
}

.icons .email {
    color: rgba(38, 115, 232, 0.89);
    -webkit-gradient: (white, cyan);
}

.icons .location-icon {
    color: #EE3E3E;
    padding-left: 2px;
}

.icons .location {
    padding-left: 4px;
}

.icons .linkedIn {
    padding-left: 2px;
    color: #07698B;
}

.icons .phone {
    color: #58C856;
}

.icons .instagram {
    color: #FBFBFD;
    background: -moz-linear-gradient(45deg, #caf033 0%, #e6913c 25%, #dc2785 50%, #e649dc 75%, #6e1fe6 100%);
    background: -webkit-linear-gradient(45deg, #caf033 0%, #e6913c 25%, #dc2785 50%, #e649dc 75%, #6e1fe6 100%);
    background: linear-gradient(45deg, #caf033 0%, #e6913c 25%, #dc2785 50%, #e649dc 75%, #6e1fe6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caf033', endCorgb(222, 88, 180)'#6e1fe6', GradientType=1);
    border-radius: 8px;
    padding: 4px;
    padding-top: 6px;
    padding-bottom: 5px;
}

.icons .facebook {
    color: #0559BC;
}

.column-right {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    width: 48%;
    height: 735px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0px 20px;
}

.sendMessage {
    font-family: 'Bahnschrift';
    font-style: normal;
    align-self: flex-start;
    padding-left: 10px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #2B4367;
}

.line {
    width: 95%;
    border-top: 1px solid #979797;
    margin-top: -24px;
}

input[type=text],
select {
    width: 95%;
    height: 55;
    padding: 12px 15px;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-email-phone {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFFBFF;
    mix-blend-mode: normal;
    padding: 25px 0px;
    margin-top: 30px;
    box-shadow: 0px 3px 17px rgba(140, 140, 140, 0.25);
    border-radius: 20px;
}

input[type=email],
input[type=phone] {
    width: 95%;
    height: 55;
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=phone] {
    margin-top: 30px;
}

.textarea {
    width: 95%;
    height: 192px;
    padding: 12px 20px;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: start;
}

.form-sendMessage {
    width: 164px;
    height: 49px;
    align-self: flex-start;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 3px 17px rgba(140, 140, 140, 0.25);
    border-radius: 26px;
    padding: 4px;
    margin: 30px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .column {
        padding: 10px 70px 0px 70px;
    }

    .column-left {
        width: 45%;
    }

    .get-in-touch {
        font-size: 40px;
    }

    .paragraph {
        font-size: 16px;
    }

    .find-Us-At {
        font-size: 24px;
    }

    .icons a {
        padding-bottom: 13px;
        font-size: 15px;
    }

    .icons .instagram {
        border-radius: 4px;
        padding: 2px;
        padding-top: 2px;
        padding-bottom: 1px;
    }
}

@media (max-width: 1000px) {
    .column {
        padding: 10px 40px 0px 40px;
    }

    .get-in-touch {
        font-size: 30px;
    }

    .paragraph {
        margin-top: -15px;
        font-size: 14px;
        line-height: 25px;
    }

    .find-Us-At {
        font-size: 22px;
    }

    .icons a {
        padding-bottom: 8px;
        font-size: 13px;
    }

    .icons .instagram {
        border-radius: 4px;
        padding: 1px;
        padding-top: 2px;
        padding-bottom: 1px;
    }

    .column-right {
        height: fit-content;
    }

    .content {
        padding: 0px 10px;
    }

    .sendMessage {
        font-size: 20px;
        line-height: 15px;
        margin-bottom: 22px;
    }

    .line {
        margin-top: -14px;
    }

    input[type=text],
    select {
        margin-top: 20px;
        font-size: 12px;
        height: 30px;
        padding: 6px 10px;
    }

    .form-email-phone {
        margin-top: 20px;
        padding: 10px 2px;
    }

    input[type=email],
    input[type=phone] {
        font-size: 10px;
        height: 30px;
        padding: 6px 10px;
    }

    input[type=phone] {
        margin-top: 20px;
    }

    .textarea {
        margin-top: 20px;
        height: 130px;
        padding: 6px 10px;
    }

    .form-sendMessage {
        width: 101px;
        height: 30px;
        padding: 2px;
        font-size: 10px;
        line-height: 15px;
    }
}

@media (max-width: 800px) {
    .column {
        padding: 10px 30px 0px 30px;
    }

    .get-in-touch {
        font-size: 24px;
    }

    .paragraph {
        margin-top: -10px;
        font-size: 11px;
        line-height: 20px;
    }

    .find-Us-At {
        font-size: 15px;
    }

    .icons a {
        padding-bottom: 8px;
        font-size: 10px;
    }

    .icons .instagram {
        padding-top: 1px;
    }

    .icons span {
        margin-right: 10px;
    }

    .column-right {

        margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 22px 0px 22px;
    }

    .column-left {
        width: 100%;
    }

    .get-in-touch {
        font-size: 38px;
        width: 100%;
    }

    .paragraph {
        width: 90%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        margin-top: 2px;
        line-height: 30px;
    }

    .find-Us-At {
        margin-top: 28px;
        font-size: 24px;
        line-height: 17px;
        width: 90%;
    }

    .icons {
        margin-bottom: 10px;
        width: 100%;
    }

    .icons a {
        width: 90%;
        padding-bottom: 13px;
        font-weight: 600;
        font-size: 15px;
    }

    .icons span {
        margin-right: 11px;
    }

    .icons .location {
        padding-left: 1px;
    }

    .icons .instagram {
        border-radius: 4px;
        padding: 2px;
        padding-top: 3px;
        padding-bottom: 2px;
    }

    .column-right {
        margin-left: 0px;
        width: 100%;
        height: 635px;
    }

    .sendMessage {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 22px;
    }

    .line {
        margin-left: 15px;
    }

    input[type=text],
    select {
        font-size: 12px;
        height: 38px;
        padding: 8px 15px;
    }

    .form-email-phone {
        padding: 27px 0px;
    }

    input[type=email],
    input[type=phone] {
        width: 90%;
        font-size: 12px;
        height: 38px;
        padding: 8px 15px;
    }

    input[type=phone] {
        margin-top: 20px;
    }

    .textarea {
        height: 170px;
        padding: 12px 20px;
        margin: 20px 0px 0px 13px;
    }

    .form-sendMessage {
        width: 141px;
        height: 36px;
        padding: 2px;
        font-size: 12px;
        line-height: 19px;
        margin: 15px 0px 0px 22px;
    }
}

@media (max-width: 400px) {
    .get-in-touch {
        font-size: 24px;
    }

    .paragraph {
        margin-top: -10px;
        font-size: 11px;
        line-height: 20px;
    }

    .find-Us-At {
        padding-top: 0px;
        font-size: 15px;
    }

    .icons a {
        padding-bottom: 8px;
        font-size: 10px;
    }
}